@font-face {
  font-family: 'emoticons';
  src: url("../fonts/emoticons.eot");
  src: url("../fonts/emoticons.eot?#iefix") format("embedded-opentype"), url("../fonts/emoticons.woff") format("woff"), url("../fonts/emoticons.ttf") format("truetype"), url("../fonts/emoticons.svg#emoticons") format("svg");
  font-weight: normal;
  font-style: normal;
}

span.emoticon {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
}
span.emoticon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f000";
  color: rgba(0, 0, 0, 0.2);
}
span.emoticon:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f001";
  color: black;
}

span.emoticon > span.eyes-happy {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.eyes-happy:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f006";
  text-indent: 0;
}

span.emoticon > span.eyes-angry {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.eyes-angry:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f003";
  text-indent: 0;
}

span.emoticon > span.eyes-crying {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.eyes-crying:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f004";
  text-indent: 0;
}

span.emoticon > span.eyes-disapproval {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.eyes-disapproval:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f005";
  text-indent: 0;
}

span.emoticon > span.eyes-happy {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.eyes-happy:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f006";
  text-indent: 0;
}

span.emoticon > span.eyes-normal {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.eyes-normal:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f007";
  text-indent: 0;
}

span.emoticon > span.eyes-shades {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.eyes-shades:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f008";
  text-indent: 0;
}

span.emoticon > span.eyes-shocked {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.eyes-shocked:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f009";
  text-indent: 0;
}

span.emoticon > span.eyes-tightshut {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.eyes-tightshut:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f00a";
  text-indent: 0;
}

span.emoticon > span.eyes-wink {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.eyes-wink:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: "\f00b";
  text-indent: 0;
}

span.emoticon > span.mouth-downturned {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.mouth-downturned:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f00d";
  text-indent: 0;
}

span.emoticon > span.mouth-kiss {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.mouth-kiss:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f00e";
  text-indent: 0;
}

span.emoticon > span.mouth-neutral {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.mouth-neutral:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f00f";
  text-indent: 0;
}

span.emoticon > span.mouth-smile {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.mouth-smile:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f010";
  text-indent: 0;
}

span.emoticon > span.mouth-smirk {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.mouth-smirk:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f011";
  text-indent: 0;
}

span.emoticon > span.mouth-surprise {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.mouth-surprise:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f012";
  text-indent: 0;
}

span.emoticon > span.mouth-tongue {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.mouth-tongue:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f013";
  text-indent: 0;
}

span.emoticon > span.mouth-unhappy {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.mouth-unhappy:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f014";
  text-indent: 0;
}

span.emoticon > span.mouth-upturned {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.mouth-upturned:after {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f015";
  text-indent: 0;
}

span.emoticon > span.heart {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.heart:before {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f00c";
  text-indent: 0;
}
span.emoticon > span.heart:after {
  text-indent: -999px;
}

span.emoticon > span.star {
  font-family: 'emoticons';
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px;
  position: relative;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  height: 18px;
  width: 18px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: black;
  text-indent: -999px;
}
span.emoticon > span.star:before {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -9px;
  margin-right: -9px;
  content: "\f016";
  text-indent: 0;
}
span.emoticon > span.star:after {
  text-indent: -999px;
}

body {
  margin: 10px;
  padding: 0;
  font-family: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

dl.emoticons dt {
  line-height: 1.5;
}

dl.emoticons dd {
  margin: 0;
}

dl.emoticons dd + dt {
  margin-top: 10px;
}
